<!-- About Section-->
<section class="page-section portfolio mb-0" id="about">
<!-- <section class="page-section bg-primary text-white mb-0" id="about"> -->

    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase ">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I am a fullstack software engineer with proficencies with Ruby on Rails, Javascript, React, Redux, Node, and so much more.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Many of the projects I have worked on include working with webrtc peer to peer connections, developing a map based social media platform, and working with websockets to create effortless messaging applicaitons. </p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
          <h4 class="text-uppercase mb-4">Fine me on Social Media</h4>
          <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-github"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
