<!-- About Section-->
<section class="page-section portfolio mb-0" id="about">
<!-- <section class="page-section bg-primary text-white mb-0" id="about"> -->

    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase ">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I am a neurodiverse Full Stack Software Engineer with an Associates in Applied Science and a Bachelor’s degree with concentrations in Political Science, Environmental Sociology, and Screen Studies. I had discovered the exciting world of coding in high school but, since my school didn’t have adequate resources, I decided to pursue other interests. While at university I focused my efforts on understanding social behaviors and social engineering as it was often useful for me to adapt and grow. My knowledge of social engineering has been useful as a developer as I understand the interesting ways to change social behaviors. After college, I decided to focus on a career in the confectionary industry where I became a chocolatier and a candy maker.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Eventually I moved to Seattle with my partner where, after seeing an ad for the Flatiron School on the light rail, I decided it was time to reignite my passion for coding and enroll in a software engineering bootcamp. The bootcamp gave me the opportunity to develop interesting and useful applications using Ruby on Rails, JavaScript, React JS/Redux, NodeJS, Graphql, and Django. Many of the projects I have worked on include working with webrtc peer to peer connections, developing a map based social media platform, and working with websockets to create effortless messaging applications. In July of 2020 I graduated and I am currently looking forward to starting a new and exciting career as a software engineer! </p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
          <h4 class="text-uppercase mb-4">Fine me on Social Media</h4>
          <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/dakotastates/"><i class="fab fa-github"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" href="https://twitter.com/theungoogleable"><i class="fab fa-fw fa-twitter"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" href="https://www.linkedin.com/in/dakotastates/"><i class="fab fa-fw fa-linkedin-in"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" href="https://www.instagram.com/dakotastates/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
